
$bg-color: #fff;
$bg-sect1-color: #e6e6e6;

$bg-deco1: #ff6c8e;
$bg-deco2: #ffd09f;

$link-color: #00f;
$link-active-color: #f00;
$link-hover-color: #faa;
$link-visited-color: #f0f;
$text-color: #000000;
$wrapbg: #333;

/* green */
$color11: #567d71;
$color12: #acff37;
/* orange */
$color21: #8d5a18;
$color22: #f29e2c;
/* yellow */
$color31: #8d7b19;
$color32: #f2d12c;
$color-section1:#fff;
$color-section2:$color22;

$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: $color22;
