
$bg-color: #fff;
$bg-sect1-color: #e6e6e6;

$bg-deco1: #ff6c8e;
$bg-deco2: #ffd09f;

$link-color: #00f;
$link-active-color: #f00;
$link-hover-color: #faa;
$link-visited-color: #f0f;
$text-color: #000000;

/* green */
$color11: #567d71;
$color12: #acff37;
/* orange */
$color21: #8d5a18;
$color22: #f29e2c;
