// @font-face {
//   font-family: 'Changa One';
//   src: url("/assets/fonts/aeh.ttf");
//   font-weight: bolder;
// }
@font-face {
  font-family: 'NTR';
  font-display: swap;
  src: url("/assets/fonts/avenir");
  font-weight: bold;
}
