@import 'mixins'; // Import of fonts
.autocol {
	// outline: 1px solid red;
	float: left;
	// background-color: hotpink;
	min-height: 6rem;
	margin-right: 0.15rem;
	margin-bottom: 0.15rem;
	box-sizing: border-box;
	width: calc( 33.33333% - 0.25rem );
}
/* If n=1 */
.autocol:only-of-type {
	width: calc( 100% - 0.25rem );
}
/* If n=2 */
.autocol:nth-last-of-type(2):first-of-type,
.autocol:nth-last-of-type(2):first-of-type ~ .autocol {
	width: calc( 50% - 0.25rem );
}
/* If n=4 */
.autocol:nth-last-of-type(4):first-of-type,
.autocol:nth-last-of-type(4):first-of-type ~ .autocol {
	width: calc( 50% - 0.25rem );
}
