// Contain screen sizes
@import 'mixins';
// Import of fonts
@import 'fonts';
@import 'font-size-var';
// Global colors (backgrounds++)
@import 'colors';
@import 'grid';
// Backgrounds using css and gradients
@import 'effects';
@import 'backgrounds';
// Basic Button Style
button {
  box-sizing: border-box;
  cursor: pointer;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 20px;
  padding: 20px;
  margin: 60px;
  border-radius: 3em;
  border-color: $turquoise;
  color: $color11;
  background: {
    image: linear-gradient(to right,
      transparentize($turquoise, 0.4),
      transparentize($turquoise, 0.4) 5%,
      $turquoise 5%,
      $turquoise 10%,
      transparentize($turquoise, 0.4) 10%,
      transparentize($turquoise, 0.4) 15%,
      $turquoise 15%,
      $turquoise 20%,
      transparentize($turquoise, 0.4) 20%,
      transparentize($turquoise, 0.4) 25%,
      $turquoise 25%,
      $turquoise 30%,
      transparentize($turquoise, 0.4) 30%,
      transparentize($turquoise, 0.4) 35%,
      $turquoise 35%,
      $turquoise 40%,
      transparentize($turquoise, 0.4) 40%,
      transparentize($turquoise, 0.4) 45%,
      $turquoise 45%,
      $turquoise 50%,
      transparentize($turquoise, 0.4) 50%,
      transparentize($turquoise, 0.4) 55%,
      $turquoise 55%,
      $turquoise 60%,
      transparentize($turquoise, 0.4) 60%,
      transparentize($turquoise, 0.4) 65%,
      $turquoise 65%,
      $turquoise 70%,
      transparentize($turquoise, 0.4) 70%,
      transparentize($turquoise, 0.4) 75%,
      $turquoise 75%,
      $turquoise 80%,
      transparentize($turquoise, 0.4) 80%,
      transparentize($turquoise, 0.4) 85%,
      $turquoise 85%,
      $turquoise 90%,
      transparentize($turquoise, 0.4) 90%,
      transparentize($turquoise, 0.4) 95%,
      $turquoise 95%,
      $turquoise 100%);
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;
  &:hover,
  &:focus {
    color: #fff;
    background-position: 100px;
  }
}
.arrow-down {
  display: block;
  margin: 0 auto;
  width: 84px;
  height: 21px;
  animation: 1s normal infinite running scrolldown;
}

.arrow-down:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid $color11;
  border-right: 2px solid $color11;
  transform: rotate(135deg);
}
.arrow-down-container {
  display: block;
  margin: 0 auto;
  padding: 5px 20px 50px;
  width: 50px;
  height: 50px;
}
