// Contain screen sizes
@import 'mixins';
// Import of fonts
@import 'fonts';
@import 'font-size-var';
// Global colors (backgrounds++)
@import 'colors';
@import 'grid';
// Backgrounds using css and gradients
